@keyframes moveStroke
  to
    stroke-dashoffset -150

.flowEditor
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  svg
    path
      transition-property fill, stroke
      transition-duration 300ms
      transition-timing-function ease-in-out
    .animated
      stroke-dasharray 3
      animation moveStroke 5s infinite linear
.flowTitle
  font-size 12px
  color #4A4A4A
  text-align center
  vertical-align middle
  height 40px
  width 100%
  display table
  > div
    display inline
    text-align center
    display table-cell
    vertical-align middle
    width 100%
    max-width 180px
    p
      display block
      max-height 42px
      cursor default
      overflow hidden
      max-width 180px
      &.alignLeft
        text-align left
        padding-left 5px
  &.active
    >div
      p
        color #18304A
  &.focused
    >div
      p
        color #fff
        font-weight 300
        cursor text