*
	margin 0
	padding 0
	border 0
	border-collapse collapse
	font-size 100%
	vertical-align baseline
	box-sizing border-box
	outline none
	font-family 'geomanist'

	&::before
	&::after
		margin 0
		padding 0
		border 0
		border-collapse collapse
		font-size 100%
		vertical-align baseline
		box-sizing border-box
		outline none

article
aside
details
figcaption
figure
footer
header
menu
nav
section
	display block

ol
ul
	list-style none

blockquote
q
	quotes none

blockquote
q
	&::before
	&::after
		content ''

table
	border-collapse collapse
	border-spacing 0

strong
	font-weight 500

button
	background-color white

input[type="button" i]
input[type="submit" i]
input[type="reset" i]
input[type="file" i]::-webkit-file-upload-button
button 
.button
	border-radius 0