{
  "presets": [
    [
      "env",
      "react"
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "babel-plugin-inline-import",
    "transform-runtime",
    "transform-exponentiation-operator",
    [
      "transform-react-jsx"
    ]
  ]
}
